<div class="card">
    <div class="card-header">
        <i class="{{ card-icon }}" aria-hidden="true"></i>
        <p class="card-header-title" title="{{ title }}">{{ title }}</p>
    </div>
    <div class="card-body-container">
        <div class="card-body">
            <canvas id="card-chart"></canvas>
        </div>
    </div>
</div>