<div class="job-comment-container">
    <div class="job-add-comment-rating">
        Salary (CAD/h):&nbsp;<input class="job-add-comment-salary" type="number"/>
    </div>
    <textarea class="job-add-comment" cols="30" rows="3" placeholder="Add comment..."></textarea>
</div>
<div class="job-comments-container"></div>