<header>
  <nav class="navbar">
    <div class="navbar-container">
        <a class="brand" href="/">
            <div class="favicon">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 48 48">
                    <path fill="#FFFFFF" d="M6 26h16V6H6v20zm0 16h16V30H6v12zm20 0h16V22H26v20zm0-36v12h16V6H26z"></path>
                </svg>
            </div>
            <div class="navbar-title">
                <p>MyWorkTerm</p>
            </div>
        </a>
        {% block search %}
        {% endblock %}
        <div class="navbar-menu fa fa-bars fa-lg" aria-hidden="true"></div>
        <div class="navbar-items">
            <a href="/jobs/search">
                <div class="navbar-title">
                    <p>Jobs</p>
                </div>
            </a>
            <a href="/csdashboard">
                <div class="navbar-title">
                    <p>Cs Dashboard</p>
                </div>
            </a>
            <a href="/">
                <div class="navbar-title">
                    <p>General Dashboard</p>
                </div>
            </a>
        </div>
    </div>
  </nav>
</header>