<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Nomad - Jobmine Statistics</title>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
        <meta property="og:url" content="http://nomad.com/">
        <meta property="og:description" content="Jobmine statistics.">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script>
          {% if env == 'prod' %}
            window.env = 'prod';
          {% else %}
            window.env = 'dev';
          {% endif %}
        </script>

        {% if env == 'prod' %}
            <script type="text/javascript" src=""{{ url_for('static/lib/bootstrap/dist/js/', filename='bootstrap.min.js') }}></script>
            <link rel="stylesheet" href="{{ url_for('static/lib/bootstrap/dist/css/', filename='bootstrap.min.css') }}">
            <script async type="text/javascript" src="{{ url_for('static/dist/', filename='bundle.js') }}"></script>
        {% else %}
            <script type="text/javascript" src=""{{ url_for('static/lib/bootstrap/dist/js/', filename='bootstrap.js') }}></script>
            <link rel="stylesheet" href="{{ url_for('static/lib/bootstrap/dist/css/', filename='bootstrap.css') }}">
            <script async data-main="/static/js/main.js" src="{{ url_for('static/lib/requirejs', filename='require.js') }}"></script>
        {% endif %}
    </head>
    <body>
        <p>This is a test</p>
    </body>
</html>
