<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        {% block title %}
        {% endblock %}
        <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
        <meta property="og:url" content="http://nomad.com/">
        <meta property="og:description" content="Jobmine and WaterlooWorks statistics.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="/static/img/favicon.ico">
        {% block head_tags %}
        {% endblock %}
        <link rel="stylesheet" href="/static/lib/font-awesome/css/font-awesome.min.css">
        {% block stylesheets %}
        {% endblock %}
        <script>
        {% if page_script%}
        window.script = '{{ ('%s' % (page_script)) }}';
        {% endif %}
        </script>
        {% block scripts %}
        {% endblock %}
    </head>
    <body>
        {% block header %}
        {% endblock %}
        {% block templates %}
        {% endblock %}
        {% block footer %}
        {% endblock %}
        {% if env == 'prod' %}
        <script async type="text/javascript" data-main="/static/dist/bundle.js" src="/static/lib/requirejs/require.js"></script>
        <link href="/static/dist/styles.css" rel="stylesheet">
        {% else %}
        <link href="/static/css/styles.css" rel="stylesheet">
        <script async type="text/javascript" data-main="/static/js/main.js" src="/static/lib/requirejs/require.js"></script>
        {% endif %}
    </body>
</html>
