:root {
    font-size: 16px;
}

a {
    text-decoration: none;
}

*,
* * {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

header {
    top: 0;
    right: 0;
    left: 0;
}

header {
    background-color: #2196f3;
    box-shadow: 0 0.125rem 0.3125rem rgba(0,0,0,0.26);
}

header nav.navbar .navbar-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

header nav.navbar .navbar-container .brand{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1rem;
    font-size: 0;
}

header nav.navbar .navbar-container .navbar-title {
    font-size: 1rem;
    color: #fff;
    margin-left: 1rem;
    text-transform: uppercase;
}

header nav.navbar .navbar-container .navbar-items {
    display: inline-flex;
    margin-left: auto;
    margin-right: 3rem;
}

.dashboard-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    flex: 1;
    padding: 1rem;
    overflow-y: auto;
}

.card {
    background-color: #fff;
    box-shadow: 0 0.0625rem 0.25rem 0 rgba(0,0,0,0.14);
    border-radius: 0.1875rem;
}

.card .card-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.5rem;
    font-size: 0;
    border-bottom: 0.0625rem solid rgba(0,0,0,0.12);
}

.card .card-header .card-header-title {
    font-size: 0.99rem;
    color: rgba(0,0,0,0.87);
}

.card .card-body-container .card-body .card-chart {
    max-height: 640px;
    max-width: 1024px;
}


/*
main > .container .left,
main > .container .right {
-webkit-box-flex: 1;
-webkit-flex: 1 0 18.75rem;
-ms-flex: 1 0 18.75rem;
flex: 1 0 18.75rem;
min-width: 18.75rem;
margin: 0.5rem;
}
*/

.card .card-body .site {
padding: 0.25rem 0.5rem;
color: rgba(0,0,0,0.87);
}

.card .card-body .site.active {
color: #2196f3;
font-weight: 500;
}

.card .card-body .site:hover {
background-color: rgba(0,0,0,0.12);
cursor: pointer;
}

.card .card-body .container {
padding: 0.5rem;
}

.card .card-body .container canvas {
width: 100%;
height: auto;
}
.card.active {
box-shadow: 0 0 1.25rem rgba(0,0,0,0.3);
}
