a {
    text-decoration: none;
}

ul,
ol {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

h3 {
    font-size: 18px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
    color: #333;
}

*,
* * {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    background-color: #eee;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

header {
    top: 0;
    right: 0;
    left: 0;
    background-color: #1a78c2;
    box-shadow: 0 0.125rem 0.3125rem rgba(0,0,0,0.26);
    overflow: hidden;
    width: 100%;
}

header nav.navbar .navbar-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    flex-wrap: wrap;
}

header nav.navbar .navbar-container .brand {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1rem;
    font-size: 0;
}

header nav.navbar .navbar-container .navbar-title {
    font-size: 1rem;
    color: #fff;
    margin-left: 1rem;
    text-transform: uppercase;
}

header nav.navbar .navbar-container .navbar-search {
    position: relative;
    height: auto;
    display: flex;
    padding-left: 30px;
    width: 40%;
}

header nav.navbar .navbar-container .navbar-search .navbar-search-container {
    height: 100%;
    width: 100%;
    display: flex;
    color: #fff;
    background-color: #fff;
    border-radius: 3px;
}

header nav.navbar .navbar-container .navbar-search .navbar-search-container .navbar-search-icon {
    display: inline-block;
    width: 45px;
    height: 45px;
    padding: 0;
    margin: 0;
    background: #fff;
    border: 0;
    border-radius: 3px 0 0 3px;
    vertical-align: top;
    text-align: center;
    line-height: 45px;
    color: #a7a7a7;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}

header nav.navbar .navbar-container .navbar-search .navbar-search-container .navbar-search-form {
    width: 100%;
}

header nav.navbar .navbar-container .navbar-search .navbar-search-container .navbar-search-form .navbar-searchbar {
    position: relative;
    display: inline-block;
    background: #fff;
    height: 45px;
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 0 3px 3px 0;
    font-size: 14px;
    outline: none;
    box-shadow: none;
}

header nav.navbar .navbar-container .navbar-items {
    display: inline-flex;
    margin-left: auto;
    margin-right: 3rem;
    border: 0;
    float: right;
}

header nav.navbar .navbar-container .navbar-items a {
    height: 100%;
}

header nav.navbar .navbar-container .navbar-menu {
    margin-left: auto;
    padding-right: 3rem;
    color: #ffffff;
	cursor:pointer;
	display:none;
}

@media only screen and (min-width:701px) {
	header nav.navbar .navbar-container .navbar-menu {
    	display: none;
	}

    header nav.navbar .navbar-container .navbar-items {
        display: inline-flex !important;
		position: static;
	}

    header nav.navbar .navbar-container .navbar-items a {
   		border: 0;
		display: block;
        text-align: center;
	}
}

@media only screen and (max-width:700px) {
	header nav.navbar .navbar-container .navbar-menu {
		display: block;
	}

    header nav.navbar .navbar-container .navbar-items {
		display: none;
        flex: 1 0 100%;
	}

    header nav.navbar .navbar-container .navbar-items a {
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        text-align: center;
        display: block;
	}

    header nav.navbar .navbar-container .navbar-items .navbar-title {
        margin-left: 0;
    }
}

@media only screen and (max-width:1100px) {
    .chart-container {
        width: 100% !important;
    }
    .map-container {
        width: 100% !important;
    }
}

.dashboard-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    flex: 1;
    overflow-y: auto;
    width: 100%;
    height: 100%;
}

.dashboard {
    width: 100%;
    height: 100%;
}

.chart-container {
    width: 50%;
    height: 100%;
    padding: 0.5rem;
    display: inline-flex;
}

.map-container {
    width: 50%;
    height: 100%;
    padding: 0.5rem;
    display: inline-flex;
}

.card {
    background-color: #fff;
    box-shadow: 0 0.0625rem 0.25rem 0 rgba(0,0,0,0.14);
    border-radius: 0.1875rem;
    width: 100%;
    height: 100%;
}

.card .card-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.5rem;
    border-bottom: 0.0625rem solid rgba(0,0,0,0.12);
}

.card .card-header .card-header-title {
    font-size: 1.1rem;
    color: rgba(0,0,0,0.87);
    padding-left: 10px;
}

.card .card-body-container {
    width: 100%;
    height: 500px;
}

.card .card-body-container .card-body {
    width: 100%;
    height: 100%;
}

.job-search-container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    height: 100%;
}

.job-search-container .job-search-results {
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #f1f1f1;
}

.job-search-container .job-search-row {
    position: relative;
}

.job-search-container .job-search-row .job-search {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px #e5e5e5 solid;
}

.job-search-container .job-search-row .job-search .job-search-header {
    display: inline-flex;
    align-items: center;
}

.job-search-container .job-search-row .job-search .job-search-header .job-search-title {
    display: inline-block;
    color: #1a78c2;
    text-decoration: none;
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.job-search-container .job-search-row .job-search .job-search-header .job-search-term {
    position: absolute;
    display: inline-block;
    right: 0;
}

.job-search-container .job-search-row .job-search .job-search-header .job-search-term .job-search-coop-term {
    display: inline-block;
}

.job-search-container .job-search-row .job-search .job-search-header .job-search-term .job-search-year {
    display: inline-block;
}